<div class="menu-background">
<button class="menubt" mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button [routerLink]="['/cadastrousuario']" mat-menu-item >Cadastro Usuário</button>
  <button [routerLink]="['/listagemusuario']" mat-menu-item >Listagem Usuario</button>
  <button [routerLink]="['/frutascadastro']" mat-menu-item >Cadastro de Frutas</button>
  <button [routerLink]="['/frutaslistagem']" mat-menu-item >Listagem de Frutas</button>

</mat-menu>
</div>
